# Supabase project settings: Dashboard -> Project Settings -> API
VITE_SUPABASE_URL= https://hhiunoejzydvmqolbgps.supabase.co
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhoaXVub2Vqenlkdm1xb2xiZ3BzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA5Mjc5NTIsImV4cCI6MjEwNjUwMzk1Mn0.4hUIdHGprKv9xRKdCXEKW1jx5B-eWRdbRs5uA1snSXk
